<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Groomed Gent</title>
  </head>
  <body>
    <div class="header bg-dark text-light vh-100">
      <div
        class="container d-flex justify-content-between align-items-center mb-3"
      >
        <a class="navbar-brand logo" href="#">Logo</a>
        <div class="navbar navbar-expand-lg navbar-dark bg-transparent">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-light" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Brand</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Catalogue</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Cart</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content d-flex align-items-center">
        <div class="left-content text-light">
          <h1 class="main-tagline">UNLOCK YOUR HANDSOME POTENTIAL</h1>
          <h3 class="support-tagline">
            Unveil a new level of confidence and redefine your image with our
            tailored men's skincare solutions, experiencing the transformation
            that comes from a dedicated skincare routine exclusively for men.
          </h3>
        </div>
        <div class="right-content flex-shrink-1">
          <img
            class="banner"
            src="/images/banneralt.png"
            alt="men skincare"
            srcset="image content"
          />
        </div>
      </div>
    </div>
    <div class="motiv vh-100 d-flex align-items-center">
      <div class="tagline flex-grow-1 text-center">
        <h1>
          "Allocating resources to your own self-care<br />
          is the most valuable investment <br />
          you can ever make."
        </h1>
        <h3 class="text-secondary">
          Mengapa begitu? Tubuh kita adalah aset penting yg dibawa hingga
          tua.<br />
          Maka dari itu aset ini harus kita jaga serta lindungi dengan cara
          merawat, menjaga kesehatan dan kebersihannya
        </h3>
      </div>
    </div>
    <div class="discover text-center">
      <h1>Discover Our Skincare Products</h1>
      <h3 class="text-secondary">
        "Discover the key to a vibrant and well-groomed skin, with customized
        solutions for your specific skincare requirements."
      </h3>
      <div class="min-cat d-flex justify-content-evenly">
        <div class="cat-img d-flex justify-content-center align-items-center">
          <img src="/images/skincare.jpg" alt="" srcset="" />
        </div>
        <div class="cat-img d-flex justify-content-center align-items-center">
          <img src="/images/bodycare.jpg" alt="" srcset="" />
        </div>
        <div class="cat-img d-flex justify-content-center align-items-center">
          <img src="/images/haircare.jpg" alt="" srcset="" />
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
